{% extends "base.html" %}

{% block content %}

<div class="card mb-3">
    <div class="card-body">
        <h2 class="card-title">Publiczne pliki</h2>

        {% if files %}
        <ul class="list-group">
            {% for file in files %}
            <li class="list-group-item">
                <a href="{{ file.path }}" target="_blank">{{ file.original_name }}</a>
                {% if file.description %}
                <p>{{ file.description }}</p>
                {% endif %}
                <small class="text-muted">Wgrano: {{ file.upload_date }}</small>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Brak publicznych plików do wyświetlenia.</p>
        {% endif %}

    </div>
</div>

{% endblock %}
